<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmFlex</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <div class="welcome">
        <h1> Welcome to FilmFlix!</h1>
      </div>
      
      <div class="form-box-login">

        <form action="">

        <h1> Login </h1>

        <div class="input-box">
          <i class='bx bxs-user'></i>
          <input type="text" placeholder="Username" required>
        </div>

        <div class="input-box">
          <i class='bx bxs-lock-alt'></i>
          <input type="password" placeholder="Password" required>
        </div>

        <button class="submit-button" onclick="window.location.href='home.html';"> Sign In</button>
        
        </form>
      </div>

  </body>

</html>