<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmFlex</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="header">

      <div class="left-section">
        
        <div class="dropdown">

          <button class="dropbtn" onclick="myFunction()">
            <img class = "menu-icon"src="../image/hamburger-menu.svg">
          </button>

          <div id="myDropdown" class="dropdown-content">
              <a href="insertMovie.html">Add</a>
              <a href="#update">Update</a>
              <a href="#remove">Remove</a>
          </div>
        </div>
      
      </div>

    <div class="middle-section">
      <a href="home.html" class="homePage"> <h1> FilmFlix </h1> </a>
    </div>
        
    <div class="right-section">

      <input class="search-bar" type="textbox" placeholder="Search Movies">
      <button class="search-button">
        <img class = "search-icon" src="../image/search.svg">
      </button>

    </div>


   </div>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="../scripts/movieDetails.js"></script>
   <script src="../scripts/onClick.js"></script>
  </body>


</html>