<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Movies</title>
  <link rel="stylesheet" href="../css/editmovies.css">
</head>
<body>

<div class="sidebar">
  <h2>Admin Panel</h2>
  <ul>
    <li><a href="../index.html">Home</a></li>
    <li><a href="../components/admin.html">Dashboard</a></li>
    <li><a href="../components/editMovies.html">Edit Movies</a></li>
    <li></li>
    <li><a href="../components/adminSignIn.html">Sign Out</a></li>
  </ul>
</div>

<div id="header-container"></div>

<main>
  <h2 id="emh2">Movie Management</h2>
  <div class="movie-management">
    <div class="movie-box">
      <a href="../components/editMoviePage.html"> <!-- Link to the Edit Movie page -->
        <div class="symbol">✎</div>
        <div class="caption">Edit Movies</div>
      </a>
    </div>
    <div class="movie-box">
      <a href="../components/deleteMoviePage.html"> <!-- Link to the Delete Movie page -->
        <div class="symbol">🗑</div>
        <div class="caption">Delete Movies</div>
      </a>
    </div>
    <div class="movie-box">
      <a href="../components/addMoviePage.html">
        <div class="symbol">＋</div>
        <div class="caption">Insert Movies</div>
      </a>
    </div>
  </div>
</main>

</body>
</html>
