<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Movies</title>
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/editmovies.css">
  <script src="../scripts/adminsidebar.js" defer></script>
</head>
<body>

<div id="sidebar-container"></div>

<main>
  <h2 id="emh2">Movie Management</h2>
  <div class="movie-management">
    <div class="movie-box">
      <a href="../components/editMoviePage.html">
        <div class="symbol">✎</div>
        <div class="caption">Edit Movies</div>
      </a>
    </div>
    <div class="movie-box">
      <a href="../components/deleteMoviePage.html">
        <div class="symbol">🗑</div>
        <div class="caption">Delete Movies</div>
      </a>
    </div>
    <div class="movie-box">
      <a href="../components/addMoviePage.html">
        <div class="symbol">＋</div>
        <div class="caption">Insert Movies</div>
      </a>
    </div>
  </div>
</main>

</body>
</html>