<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Favorites</title>
  <link rel="stylesheet" href="../css/favourite.css">
</head>
<body>
<div id="header-container"></div>

<main>
</main>

<div id="notification"></div>

<script src="../scripts/headerfooter.js" type="module"></script>
<script src="../scripts/favouritepage.js" type="module"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../scripts/access.js" defer></script>

</body>
</html>
