<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies and Shows</title>
    <link rel="stylesheet" href="../css/library.css">
</head>
<body>
<div id="header-container"> </div>
<main>
    <div class="movie_show_container">
        <h1>Movies</h1>
        <div class="filter_container">
        <label for="genre-filter">Filter by Genre:</label>
        <select id="genre-filter">
            <option value="">All</option>
        </select></div>

        <div class="movies">

        </div>
    </div>
</main>

<script src="../scripts/headerfooter.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../scripts/filter.js"></script> <!-- Add this line for your filter.js -->
</body>
</html>
