<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="../scripts/headerfooter.js" defer></script>
    <script src="../scripts/backButton.js" defer></script>
    <link rel="stylesheet" href="../css/signIn.css">


</head>
<body>
    <div id="header-container"></div>

    <form id="signin-form" action="" method="POST">
        <div class="form-group">
            <label id="sub-head">User Sign In</label>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Sign In</button>
    </form>

    <div id="click_here" ><p>Sign In As Admin<a href="adminSignIn.html"> Here</a></p></div>

</body>
</html>